.SP {
  animation: scaleUp 0.5s ease-in-out !important;
  background-color: white !important; 
  opacity: 1 !important; 
} 

@keyframes scaleUp {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.SPmain {
  background-color: rgba(75, 85, 99, 0.85) !important; 
  animation: fadebg 0.5s ease-in-out !important;
}

@keyframes fadebg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.dark{
  background-color: #0A0B10   ;
  color: white;
  border-color:white
  
 }

.light{
  background-color: white;
  color: black;
  border-color: black;
  
}


body{
  z-index: 70;
}